/*Aqui se esta importando el tipografia lora (no borrar el import)*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* ================================ Estilos generales para el contenido ==========================================*/

* {
  /* Configuracion de las cajas (no borrar) */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Variables globales (Aplican a todo el archivo, por favor no borrar, solo modificar)*/
  --Color_letras-oscuro: #000000;
  --Color_letras-bordes: rgba(255, 255, 255, 0.45);

  --Altura_header: 100px;
  --Altura_footer: 100px;
  --Altura_main: calc(100vh - (var(--Altura_header) + var(--Altura_footer)));
  --Padding_contenedores: 20px;

  --Tamaño_referencia: 17px;
  --Tamaño_referencia--responsive: 12px;
  --Tamaño_texto: 25px;
  --Tamaño_texto--responsive: 17px;
  --Tamaño_titulo: 40px;
  --Tamaño_titulo--responsive: 30px;
  --Tamaño_texto--footer: 17px;
}

body {
  /* Aplicamos el tipo de fuente general y creamos la grid*/
  font-family: "Lora", serif;

  display: grid;
  grid-template-rows: var(--Altura_header) var(--Altura_main) var(--Altura_footer);
  grid-template-areas: "main-header" "main-menu" "main-footer";

  /* Propiedades del fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}


/* ===================================== Seccion de encabezado =============================================*/

.encabezado {
  /* Asignamos tamaño, altura y tipo de display del header*/
  display: flex;
  height: 100px;
  width: 100%;
  padding: var(--Padding_contenedores);
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.0));
}

.encabezado h1 {
  /* Titulo del logo */
  color: var(--Color_letras-oscuro);
  font-size: var(--Tamaño_titulo);
  font-weight: 100;
}

.logo__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  /* Tamaño y dimenciones del logo */
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 1px 1px 8px black;
  transition: transform 200ms ease, box-shadow 200ms ease;
}

.logo:hover {
  /* Pseudo clase hover */
  transform: scale(1.03);
  box-shadow: 0 10px 26px rgba(0, 0, 0, 0.16);
}

/* ===================================== Seccion de contenido =============================================*/

.contenido {
  /* Aplicamos tamaño y display al contenido */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.caja_texto {
  /* Aplicamos tamaño y parametros para la caja del texto*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}

.caja_texto .texto {
  /* Estilos para el texto principal*/
  text-align: center;
  text-shadow: -0.5px -0.5px 0 var(--Color_letras-bordes),
    -0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px -0.5px 0 var(--Color_letras-bordes);
  color: var(--Color_letras-oscuro);
  font-size: var(--Tamaño_texto);
}

.caja_texto .referencia {
  /* Estilos para el texto de referencia*/
  display: flex;
  color: var(--Color_letras-oscuro);
  justify-content: flex-end;
  font-size: var(--Tamaño_referencia);
  text-shadow: -0.5px -0.5px 0 var(--Color_letras-bordes),
    -0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px -0.5px 0 var(--Color_letras-bordes);
}

/* ===================================== Seccion de pie de pagina =============================================*/

.pie_pagina {
  /* Aplicamos el tamaño y display del contenido del footer*/
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  padding: var(--Padding_contenedores);
  font-size: var(--Tamaño_texto--footer);
  color: var(--Color_letras-oscuro);
  text-shadow: -0.5px -0.5px 0 var(--Color_letras-bordes),
    -0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px 0.5px 0 var(--Color_letras-bordes),
    0.5px -0.5px 0 var(--Color_letras-bordes);
}


/* ========= Seccion de mediaquery ============*/

@media (max-width:520px) {
  #logo {
    height: 50px;
  }

  .caja_texto .texto {
    font-size: var(--Tamaño_texto--responsive);
  }

  .caja_texto .referencia {
    font-size: var(--Tamaño_referencia--responsive);
  }

  .encabezado h1 {
    font-size: var(--Tamaño_titulo--responsive);
  }
}